---
import { getLangFromUrl } from "@/i18n/utils";
import { languages } from "@/i18n/ui";

const lang = getLangFromUrl(Astro.url);
const currentPath = Astro.url.pathname;
const pathWithoutLang = currentPath.replace(/^\/[a-z]{2}(\/|$)/, "/");

function getPathWithLang(lang: string) {
    return `/${lang}${pathWithoutLang}`;
}
---

<select class="lang-select" onchange="window.location.href=this.value">
    {
        Object.entries(languages).map(([code, label]) => (
            <option value={getPathWithLang(code)} selected={code === lang}>
                {label}
            </option>
        ))
    }
</select>
