@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Not working so good with GSAP SmoothTrasition */
/* html {
  scroll-behavior: smooth;
} */

body {
  padding-right: 0 !important;
  margin-right: 0 !important;
  overflow-x: hidden;
}

/* Mac + Chrome invisible scrollbar styling */
body::-webkit-scrollbar {
  display: none;
  /* Not working so good with GSAP SmoothTrasition, display none for the moment */
  /* width: 20px; */
}

.presentation-line {
  overflow: hidden;
  display: block;
}


@theme {
  --font-saira: "Saira", sans-serif;
}

@theme {
  --font-inter: "Inter", sans-serif;
}

