---
import { getLangFromUrl } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);

import type { CollectionEntry } from "astro:content";
import { DateFormatter } from "@/utils/DateFormatter";

interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const frontmatter = post.data;
---

<div>
    <img
        class="relative z-10 object-cover w-full rounded-md h-96"
        src="https://images.unsplash.com/photo-1644018335954-ab54c83e007f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
        alt=""
    />

    <div
        class="relative z-20 max-w-lg p-6 mx-auto -mt-20 bg-white rounded-md shadow dark:bg-gray-900"
    >
        <a
            href={`/${post.slug.replace(/^([a-z]{2})\//, "$1/blog/")}`}
            class="font-semibold text-gray-800 hover:underline dark:text-white md:text-xl"
        >
            {frontmatter.title}
        </a>

        <p class="mt-3 text-sm text-gray-500 dark:text-gray-300 md:text-sm">
            {frontmatter.description}
        </p>

        <p class="mt-3 text-sm text-blue-500">
            {DateFormatter.formatDate(frontmatter.date)}
        </p>
    </div>
</div>
