---
import "@/styles/global.css";
import Navbar from "@/components/shared/Navbar.astro";
import Footer from "@/components/shared/Footer.astro";
import SEOHead from "@/components/seo/SEOHead.astro";
import ThemeScript from "@/components/shared/ThemeScript.astro";
import { getLangFromUrl } from "../i18n/utils";
import ScrollSmootherInit from "@/components/shared/animations/ScrollSmootherInit";
import SmoothScrollLinks from "@/components/shared/animations/SmoothScrollLinks";

export interface MainLayoutProps {
    title?: string;
    description?: string;
    image?: string;
    url?: string;
    keywords?: string[];
    lang?: string;
}

const {
    title = "Alan Dev",
    description = "Alan's Blog",
    image = "https://www.alandev.site/og-image.jpg",
    url = "https://www.alandev.site/",
    keywords = ["blog", "Astro", "programación"],
    lang = getLangFromUrl(Astro.url),
} = Astro.props as MainLayoutProps;
---

<html lang={lang}>
    <SEOHead {...{ title, description, image, url, keywords, lang }} />
    <body
        class="flex flex-col min-h-screen bg-stone-300/80 dark:bg-slate-950 text-white"
    >
        <Navbar />

        <!-- Espacio para elementos globales fixed/sticky -->
        <slot name="fixed" />
        <slot name="floating" />

        <div id="smooth-wrapper">
            <div id="smooth-content">
                <main class="container mx-auto flex-grow pt-16">
                    <slot />
                </main>
                <Footer />
            </div>
        </div>
        <ThemeScript />
        <ScrollSmootherInit client:only="react" />
        <SmoothScrollLinks client:only="react" />
    </body>
</html>
